<%- include("partials/header")%>

<!-- Main section -->
<main>
    <form action="/admin/adminRegistration" method="post">
        <h1>ADMIN REGISTRATION</h1>
        <label for="name">
            <input type="text" name="name" placeholder="Full name" id="name">
        </label>
        <label for="email">
            <input type="email" name="email" id="email" placeholder="Email">
        </label>
        <label for="password">
            <input type="password" name="password" id="password" placeholder="password">
        </label>
        <label for="retypePassword">
            <input type="password" name="repassword" id="retypePassword" placeholder="Retype Password">
        </label>
        <button type="submit">Create Account</button>
    </form>
</main>
<!-- End of main section -->

<%- include("partials/footer")%>