<%- include("./partials/header")%>

<!-- Background Image -->
<section class="bg-image">
    <img src="/images/faculty-1.jpg" alt="NUAITS Logo">
</section>
<!-- End of background image -->

<!-- main section -->
<main>
    <h1>ADMIN DASHBOARD SECTION</h1>
    <!-- Card -->
    <section class="card">
        <div class="first">
            <div class="card-img">
                <img src="images/logo.png" alt="CARD IMAGE">
            </div>
            <div class="card-body">
                <h3 class="card-content">Section: <a href="/admin/department">Departments</a></h3>
                
                <p>
                    In this section, you can view the departments in the system, create a new one, edit an existing one, or delete one.
                </p>
            </div>
        </div>

        <div class="second">
            <div class="card-img">
                <img src="images/logo.png" alt="CARD IMAGE">
            </div>
            <div class="card-body">
                <h3 class="card-content">Section: <a href="/admin/program">Programs</a></h3>
                
                <p>
                    In this section, you can view the programs in the system, the departments to which each program belongs, create a new one, edit an existing one, or delete one.
                </p>
            </div>
        </div>
    </section>
    <!-- End of card -->

    <!-- Card -->
    <section class="card">
        <div class="first">
            <div class="card-img">
                <img src="images/logo.png" alt="CARD IMAGE">
            </div>
            <div class="card-body">
                <h3 class="card-content">Section: <a href="/admin/course">Course</a></h3>
                
                <p>
                    In this section, you can view the courses in the system, see which program it belongs to, create a new one, edit an existing one, or delete one.
                </p>
            </div>
        </div>

        <div class="second">
            <div class="card-img">
                <img src="images/logo.png" alt="CARD IMAGE">
            </div>
            <div class="card-body">
                <h3 class="card-content">Section: <a href="/admin/grade">Grades</a></h3>
                
                <p>
                    In this section, you can view the grades stored in the system, the students, modules, programs, and department to which each program belongs.
                </p>
            </div>
        </div>
    </section>
    <!-- End of card -->
</main>
<!-- End of main section -->

<%- include("./partials/footer")%>