<%- include("partials/header")%>

<!-- Login main section -->
<main>
    <form action="/admin/resetPassword?_method=PUT" method="POST">
        <div class="login">
            <img src="/images/nuaits.jpg" alt="NUAITS LOGO">
        </div>
        <h1>RESET PASSWORD</h1>
        <input type="email" placeholder="Email" name="email" id="email">
        <br>
        <input type="password" placeholder="New Password" name="password" id="password">
        <input type="password" placeholder="Retype Password" name="retypePassword" id="password">

        <button type="submit">Reset Password</button>
    </form>
</main>
<!-- End of login main section -->

<%- include("partials/footer") %>