<%- include("./partials/header")%>

<!-- Background Image -->
<section class="bg-image">
    <img src="/images/faculty-1.jpg" alt="NUAITS Logo">
</section>
<!-- End of background image -->

<!-- main section -->
<main>
    <h1>GRADE SECTION</h1>
    <!-- Card -->
    <table border="1px">
        <thead>
            <tr>
                <th>COURSE NAME</th>
                <th>COURSE CODE</th>
                <th>PROGRAM</th>
                <th>DEPARTMENT</th>
                <th colspan="2">ACTION</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <a href="/admin/program/"></a>
                </td>
                <td>
                    <p></p>
                </td>
                <td>
                    <a href="/admin/program/"></a>
                </td>
                <td>
                    <p></p>
                </td>
                <td>
                    <a href="/admin/program/adsdfcs/edit">EDIT</a>
                </td>
                <td>
                    <form action="/admin/program/dasdfsd?_method=DELETE" method="POST" class="delete"><button type="submit">DELETE</button></form>
                </td>
            </tr>
        </tbody>
    </table>
</main>
<!-- End of main section -->

<%- include("./partials/footer")%>