<%- include("partials/header")%>
<!-- Background Image -->
<section class="bg-image">
    <img src="images/nuaits.jpg" alt="NUAITS Logo">
</section>
<!-- End of background image -->

<!-- Main section -->
<main>
    <h1>ABOUT</h1>
    <p>
        The <strong>NUAITS</strong> student portal has been developed as a web-based system
    </p>

    <p>
        The main aim for developing this <strong>NUAITS</strong> student portal is to improve their performance and enhance their general knowledge by providing:
    </p>

    <ul class="provision">
        <li>introductory materials</li>
        <li>general description of the courses</li>
        <li>syllabus</li>
        <li>lecture notes</li>
        <li>assignments and</li>
        <li>Departmental activities</li>
    </ul>

    <h2>Designed and Developed by</h2>

    <!-- Card -->
    <section class="card">
        <div class="first">
            <div class="card-img">
                <img src="images/logo.png" alt="CARD IMAGE">
            </div>
            <div class="card-body">
                <h3 class="card-content">Name: David Mohamed Koroma</h3>
                <h4 class="card-content">Program: BSc. Computer Science</h4>
                <h4 class="card-content">ID: 28310</h4>
            </div>
        </div>

        <div class="second">
            <div class="card-img">
                <img src="images/nuaits.jpg" alt="CARD IMAGE">
            </div>
            <div class="card-body">
                <h3 class="card-content">Name: David Mohamed Koroma</h3>
                <h4 class="card-content">Program: BSc. Computer Science</h4>
                <h4 class="card-content">ID: 28310</h4>
            </div>
        </div>
    </section>
    <!-- End of card -->

    <p></p>
    <h2>Supervised by</h2>

    <!-- Card -->
    <section class="card">
        <div class="first">
            <div class="card-img">
                <img src="images/nuaits.jpg" alt="CARD IMAGE">
            </div>
            <div class="card-body">
                <h3 class="card-content">Name: David Mohamed Koroma</h3>
                <h4 class="card-content">Program: BSc. Computer Science</h4>
                <h4 class="card-content">ID: 28310</h4>
            </div>
        </div>

        <div class="second">
            <div class="card-img">
                <img src="images/nuaits.jpg" alt="CARD IMAGE">
            </div>
            <div class="card-body">
                <h3 class="card-content">Name: David Mohamed Koroma</h3>
                <h4 class="card-content">Program: BSc. Computer Science</h4>
                <h4 class="card-content">ID: 28310</h4>
            </div>
        </div>
    </section>
    <!-- End of card -->
</main>
<!-- End of main section -->

<%- include("partials/footer")%>