<%- include("partials/header")%>

<!-- Login main section -->
<main>
    <form action="/resetPassword?_method=UPDATE" method="POST">
        <div class="login">
            <img src="images/nuaits.jpg" alt="NUAITS LOGO">
        </div>
        <!-- <label class="login">LOGIN</label> -->
        <input type="number" placeholder="Your ID" name="studentID" id="studentID">
        <input type="email" placeholder="Email" name="email" id="email">
        <br>
        <input type="password" placeholder="New Password" name="password" id="password">
        <input type="password" placeholder="Retype Password" name="retypePassword" id="password">

        <button type="submit">Update Password</button>
    </form>
</main>
<!-- End of login main section -->

<%- include("partials/footer") %>