<%- include("partials/header")%>
<!-- Main section -->

<!-- Slider image -->
<!-- <div class="slider-img">
    <div><img src="images/nuaits.jpg" alt="NUAITS"></div>
    <div><img src="images/nuaits.jpg" alt="NUAITS"></div>
    <div><img src="images/nuaits.jpg" alt="NUAITS"></div>
</div> -->
<!-- End of slider image -->

<!-- Background Image -->
<section class="indexbg-image">
    <img src="images/nuaits.jpg" alt="NUAITS Logo">
</section>
<!-- End of background image -->

<main>

    <h2>ABOUT THE PLATFORM</h2>
    <p>
        Njala University E-Learning platform was designed by Computer Science Students to assist in the learning process of the University.
    </p>

    <p>
        This project was done as a side project of the designer <a href="/about">David M. Gegbai</a>.
    </p>
</main>

<!-- End of main section -->

<%- include("partials/footer")%>