<%- include("partials/header")%>

<!-- Login main section -->
<main>
    <form action="#" method="POST">
        <div class="login">
            <img src="images/nuaits.jpg" alt="NUAITS LOGO">
        </div>
        <!-- <label class="login">LOGIN</label> -->
        <label for="email">Email</label>
        <input type="email" placeholder="Email" name="email" id="email">
        <br>
        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password" id="password">

        <button type="submit">LOGIN</button>
    </form>
</main>
<!-- End of login main section -->

<%- include("partials/footer") %>