<%- include("partials/header")%>

<!-- Background Image -->
<section class="bg-image">
    <img src="images/nuaits.jpg" alt="NUAITS Logo">
</section>
<!-- End of background image -->

<!-- main section -->
<main>
    <h1>Program Name</h1>

    <!--<section>
        <table border="1px">
            <caption><strong>ACTIVITIES/CALENDAR</strong></caption>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>START DATE</th>
                    <th>END DATE</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>EXAM</td>
                    <td>12/May/2021</td>
                    <td>31/June/2021</td>
                </tr>
            </tbody>
        </table>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ipsum doloremque officia est quo corporis facilis sequi quis vero consequatur maiores, voluptate voluptates? A esse odit minima nobis, quibusdam quisquam.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eum reiciendis incidunt quisquam numquam. Vitae, impedit aliquid facere praesentium reprehenderit consequuntur molestias quo cupiditate. Doloremque sequi amet expedita neque ipsum.
        </p>
    </section>-->
    <section>
        <p>
            Here, you will gain access to:
        </p>
        <ul>
            <li>Class course outline</li>
            <li>Timetable</li>
            <li>Curricullum(s)</li>
            <li>Semester Schedule</li>
            <li>Notes and</li>
            <li>Assignments</li>
        </ul>
    </section>
</main>
<!-- End of main section -->

<%- include("partials/footer")%>