<%- include("partials/header")%>

<!-- Main section -->
<main>
    <form action="" method="post">
        <label for=""></label>
    </form>
</main>
<!-- End of main section -->

<%- include("partials/footer")%>