@media screen and (min-width: 0px) and (max-width: 768px){
    .hamburger{
        display: block;
    }

    .brand h1{
        display: none;
    }

    nav{
        width: 100%;
        max-height: 0px;
        overflow: hidden;
    }

    nav ul{
        display: block;
        width: inherit;
    }

    nav ul li{
        width: 100%;
    }

    nav ul li a{
        display: block;
        width: 100%;
        font-size: 1.2em;
        padding: 5px;
        box-sizing: border-box;
        text-decoration: none;
    }

    .show{
        max-height: 100em;
        position: static;
    }

    /* Card section */
    section.card{
        width: 70%;
        margin-bottom: 20px;
    }

    .first{
        grid-column: 1 / 3;
    }

    .second{
        grid-column: 1 / 3;
    }
    /* End of card section */

    /* Form section */
    form{
        width: 60%;
    }
    /* End of form section */
}